<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ToDoApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="/impressum">IMPRESSUM </a></li>
  
        <li><a href="/users/new">SIGN UP </a></li>
  
        <li><a href="/users/signin">SIGN IN </a></li>

      </ul>
    </div>
  </div>
</nav>


<p>
WELLCOME!
</p>



<p>   

<% if user %>
  
  <p><%= user.email %></p>
 
  <form action="/sessions/signout" method='POST'>
 <!--Damit das Eingabefeld aktiv bleibt-->
<input type="submit" value="SIGN OUT" />
</form>

<% end %>

</p>

<% if user %>
<form action="/tasks/create" method='POST'>
 Deine Aufgabe: <input name="task" autofocus="true"/>
 <!--Damit das Eingabefeld aktiv bleibt-->
<input type="submit" value="confirm" />
</form>


<form method= "get" action="/"> 
  <button name="alphabetically">a-z</button>
  <button name="newest">latest</button>
</form>


<ul>
  <% tasks.each do |task| %>
    <li>
    	<form action="/tasks/delete" METHOD= "POST">
    	  <button>x</button> <!--delete-->
    	  <%= task.name %>
    	  <input type='hidden' value='<%=task.id%>' name="task_id">
    	</form>
    </li>
  <% end %>
</ul>
<% end %>

<p>
<strong>
Requirements </strong>

 <p> - Frequency </p>
 <p> - Duration </p>
 <p> - Reminder time </p>
 <p> - Description </p>
 <p> - Priority </p>
 <p> - Context (like Context "Work", Context "Home", ...) </p>
 <p> - Attachments </p>
 <p> - Markdown (http://daringfireball.net/projects/markdown/syntax) </p>
</p>
<p>
<strong>
Priorisation </strong>

 <p> - Create a task (with title) A task without a title is useless. </p>
 <p> - Create a user </p>
 <p> - A user needs a name and a password. Optionally also an email address. </p>
 <p> - Delete a task, user can mark task as done, edit a task </p>
 <p> - Due date </p>
 <p> - A user can see a task overview </p>

</p>







