<h1>sign in</h1>

<p>

<form action="/users/signin" method='POST'>
 Email: <input name="email" autofocus="true"/>
 Password: <input name="password"/>
 <!--Damit das Eingabefeld aktiv bleibt-->
<input type="submit" value="confirm" />
</form>



</p>
